######################
# Gradle
######################
.gradle
build

######################
# Intellij
######################
.idea
*.iml
*.ipr
*.iws

######################
# Mac OSX
######################
.DS_Store

######################
# Environment
######################
.env