spring:
  application:
    name: url-shortener
  mvc:
    problemdetails:
      enabled: true
  jpa:
    open-in-view: false
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.xml
