SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/url_shortener
SPRING_DATASOURCE_USERNAME=app-url-shortener
SPRING_DATASOURCE_PASSWORD=changeme
URL_SHORTENER_BASE_URL=http://localhost
POSTGRES_DB=url_shortener
POSTGRES_USER=app-url-shortener
POSTGRES_PASSWORD=changeme
