name: CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: gradle

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Run all checks
        run: ./gradlew check
        env:
          SPRING_PROFILES_ACTIVE: itest

      - name: Build & push Docker image
        run: ./gradlew jib
        env:
          CR_USERNAME: ${{ secrets.GHCR_USERNAME }}
          CR_TOKEN: ${{ secrets.GHCR_TOKEN }}
          COMMIT_SHA: ${{ github.sha }}
